.container {
  max-width: 800px;
  margin: 0 auto;
}

.innerContainer {
  padding: 20px;
}

h3 {
  color: gray;
  font-weight: 300;
}

.img {
  width: 100%;
  aspect-ratio: 20 / 9; 
  object-fit: cover;
  border-radius: 8px;
  background-color: #f9fafb;
}